<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.workfromhome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".taskTypeActivity"></activity>
        <activity android:name=".viewAssigned1" />
        <activity android:name=".FindEmployee" />
        <activity android:name=".update" />
        <activity android:name=".tasks" />
        <activity android:name=".confirm_update" />
        <activity android:name=".assign_task" />
        <activity android:name=".add_task" />
        <activity android:name=".AttendanceM" />
        <activity android:name=".WorkCompleteFormActivity" />
        <activity android:name=".WorkViewActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".UpdateLeave" />
        <activity android:name=".ApplyLeave" />
        <activity android:name=".Leave" />
        <activity android:name=".Home" />
        <activity android:name=".SignUp" />
        <activity android:name=".login" />
        <activity android:name=".Dashboard" />
        <activity android:name=".EmployeeActivity" />
        <activity android:name=".EmployeeRegistrationActivity" />
        <activity android:name=".HomeActivity"/>

        <activity android:name=".Landing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>